html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, address, del, em, img, ins, small, strong, sub, sup,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, figcaption,
footer, header, section, summary, video,input {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  text-align: center;
  font-family: 'BinggraeSamanco-Bold';
  font-size: large;
  color: #222831;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*
  className = App 인 항목에 css를 적용한다는 의미
*/
.App{
  padding: 20px;
  background-color: #EEEEEE;
  /*opacity: 60%; 투명도 설정 */
}

.imgArr{
  width: -webkit-fill-available;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.imgArr img{
  /* 상우하좌 */
  padding : 0px 0px 5px 0px ;
  width : 95%;
}

.gubunLine {
  color: #112D4E;
}

.phoneNumber {
  width: 15px;
  height: 15px;
}

img {
  width: -webkit-fill-available;
  image-rendering:-webkit-optimize-contrast;
}

/* main 이미지 css */
.mainImgDiv {
  width: -webkit-fill-available;
  position: relative;
  background-size: cover;
}

.mainText .wedding{
  font-family: 'eng';
  text-align: center;
  color: #00ADB5;
  margin: 0;
  position: absolute;
  font-size: xx-large; /* 글씨 크기 */
  font-weight: bold;
  white-space: nowrap;
  top: 17%; /* 핵심코드 */
  left: 50%; /* 핵심코드 */
  transform: translate( -50%, -50%);
}

.mainImg{
  background-size: cover; /* 핵심코드 */
  position: relative; /* 핵심코드 */
  background-repeat :no-repeat;
}

.mainImg img{
  border-radius: 50% 50% 0% 0%;
  width: -webkit-fill-available;
  image-rendering:-webkit-optimize-contrast;
}

/* 아이폰에서 접속할 때 */
.imagefile {
  width: -moz-available;
  image-rendering: -moz-crisp-edges;
}

/* main 이미지 css */
.mainImgDivS {
  width: -moz-available;
  position: relative;
  background-size: cover;
}

.mainTextS .weddingS{
  font-family: 'eng';
  text-align: center;
  color: #00ADB5;
  margin: 0;
  position: absolute;
  font-size: xx-large; /* 글씨 크기 */
  font-weight: bold;
  white-space: nowrap;
  top: 17%; /* 핵심코드 */
  left: 50%; /* 핵심코드 */
  transform: translate( -50%, -50%);
}

.mainImgS{
  background-size: cover; /* 핵심코드 */
  position: relative; /* 핵심코드 */
  background-repeat :no-repeat;
}

.mainImgS img{
  border-radius: 50% 50% 0% 0%;
  width: -moz-available;
  image-rendering: -moz-crisp-edges;
}

/* 사진 슬라이더 영역 */

.imgSliderDiv{
  width: -webkit-fill-available;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgSliderDiv .imageA {
  position: relative;
  width: 800px;
  height: 450px;
  overflow: hidden;
}

.imgSliderDiv .imageA .preNext .pre{
  position: absolute;
  top: 45%;
  left: -5%;
  transform:  translateY(-55%);
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border: none;
  background: none;
}

.imgSliderDiv .imageA .preNext .next{
  position: absolute;
  top: 45%;
  right: -5%;
  transform:  translateY(-55%);
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border: none;
  background: none;
}

.imgSliderDiv .imageA .imgbox {
  width: 300px;
  height: 400px;
}

/* 계좌번호 영역 */

.accountSpen {
  width: -webkit-fill-available;
}

.account{
  width: 20px;
  height: 20px;
}

.accountArea {
  display: flex;
  width: auto;
  height: auto;
}

.accountArea .accountMan button{
  font-family: 'BinggraeSamanco-Bold';
  border: none;
}

.accountArea .accountWom button{
  font-family: 'BinggraeSamanco-Bold';
  border: none;
}

.accountSpenY {
  width: -webkit-fill-available;
}

.accountButtonY {
  width: -webkit-fill-available;
  font-family: 'BinggraeSamanco-Bold';
  border: none;
}

.toggleAll {
  display: inline-flex;
  width: auto;
  height: auto;
}

.toggleCopy button{
  font-family: 'BinggraeSamanco-Bold';
  border: none;
}

.toggleCopy img{
  width: 15px;
  height: 15px;
}

/* 지도 */

.mapAll {
  display: flex;
  width: auto;
  height: auto;
}

.mapLeft {
  text-align: left;
}

.mapRight {
  text-align: right;
}

.mapAll span {
  display: flow;
}

.mapAll button{
  font-family: 'BinggraeSamanco-Bold';
}

.mapAll img{
  image-rendering:-webkit-optimize-contrast;
  width: 12px;
  height: 12px;
}


/* 글자 설정 */

.text spen{
  color: #222831;
  text-align: center;
  font-size: medium;
  font-weight: 400;
  margin: 0;
}

.text p{
  color: #222831;
  text-align: center;
  margin: 0;
  font-size: small;
  font-weight: 400;
}

.text h1{
  color: #00ADB5;
  text-align: center;
  margin: 0;
  font-size: x-large;
  font-weight: 700;
}

.text pre{
  margin: 0;
}

/* 공유하기 */

.sns-area{
  background-color: #EEEEEE;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5.3% 12%;
}


.sns-area ul{
  display: contents;
  align-items: center;
  gap: max(min(3.4vw, 22px), 14px);
  justify-content: flex-end;
}

.sns-area li{
  list-style-type: none;
  align-items: center;
}

.sns-area li button{
  border: none;
  background-color: #EEEEEE;
}

/* count */

.countSize {
  position: relative;
  height: 50px;
}

.countAll {
  position: absolute;
  display: flex;
  justify-self: anchor-center;
  width: auto;
  height: auto;
}

/* count 아이폰 버전 */

.countAllS {
  width: -moz-available;
  display: contents;
}

.countNumS {
  display: block ruby;
}

/* font 적용 영역 */

@font-face {
  font-family: 'eng';
  src: url('./Permatha Signature.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BinggraeSamanco-Bold';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/BinggraeSamanco-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

