html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, address, del, em, img, ins, small, strong, sub, sup,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, figcaption,
footer, header, section, summary, video,input {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*
  className = App 인 항목에 css를 적용한다는 의미
*/
.App{
  padding: 20px;
  background-color: #EEEEEE;
  /*opacity: 60%; 투명도 설정 */
}

img {
  width: -webkit-fill-available;
  image-rendering:-webkit-optimize-contrast;
}

.imgSliderDiv{
  width: -webkit-fill-available;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgSliderDiv .imageA {
  position: relative;
  width: 800px;
  height: 450px;
  overflow: hidden;
}

.imgSliderDiv .imageA .preNext .pre{
  position: absolute;
  top: 45%;
  left: -5%;
  transform:  translateY(-55%);
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border: none;
  background: none;
}

.imgSliderDiv .imageA .preNext .next{
  position: absolute;
  top: 45%;
  right: -5%;
  transform:  translateY(-55%);
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border: none;
  background: none;
}

.imgSliderDiv .imageA .imgbox {
  width: 300px;
}

.mainImgDiv {
  width: -webkit-fill-available;
  position: relative;
  background-size: cover;
}

.mainText .wedding{
  font-family: 'eng';
  text-align: center;
  color: #00ADB5;
  margin: 0;
  position: absolute;
  font-size: 2rem; /* 글씨 크기 */
  font-weight: bold;
  white-space: nowrap;
  top: 100px; /* 핵심코드 */
  left: 300px; /* 핵심코드 */
  transform: translate( -245px, -50px);
}

.mainImg{
  background-size: cover; /* 핵심코드 */
  position: relative; /* 핵심코드 */
  background-repeat :no-repeat;
}

.mainImg img{
  border-radius: 50% 50% 0% 0%;
  width: -webkit-fill-available;
  image-rendering:-webkit-optimize-contrast;
}

.text{
  color: #222831;
  text-align: center;
  margin: 0;
  /*font-family: 'establishRoomNo703OTF';*/
}

.text spen{
  color: #222831;
  text-align: center;
  font-size: small;
  margin: 0;
  /*font-family: 'establishRoomNo703OTF';*/
}

.text p{
  color: #222831;
  text-align: center;
  margin: 0;
  font-size: x-small;
  /*font-family: 'establishRoomNo703OTF';*/
}

.text h1{
  color: #00ADB5;
  text-align: center;
  margin: 0;
  font-size: x-large;
  /*font-family: 'establishRoomNo703OTF';*/
}

.text pre{
  margin: 0;
  /*font-family: 'establishRoomNo703OTF';*/
}

.sns-area{
  background-color: #EEEEEE;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5.3% 12%;
}


.sns-area ul{
  display: contents;
  align-items: center;
  gap: max(min(3.4vw, 22px), 14px);
  justify-content: flex-end;
}

.sns-area li{
  list-style-type: none;
  align-items: center;
}

.sns-area li button{
  border: none;
  background-color: #EEEEEE;
}

.mobile_container {
  /*background: #FFFDEC;*/
  color: #CB9DF0;
}

.cherry_blossom {
  overflow: hidden;
  position: relative;
  width: 600px;
  height: 600px;
  /*background: url('sakura.png') center center no-repeat;*/
  background-size: cover;
  perspective: 1000px;
}

.cherry_blossom .petal {
  position: absolute;
  background: linear-gradient(-45deg, #ffb6c1 0%, #ffc5d0 40%, #ffdfe6 80%);
  border-radius: 10% 50% 40% 50%;
  z-index: 1;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
  pointer-events: none;
  transform-style: preserve-3d;
  transition: transform 1000ms linear;
}

@keyframes fall {
  0% {
    top: 0;
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  100% {
    top: 100%;
    opacity: 0.2;
  }
}

@font-face {
  font-family: 'eng';
  /*src: url('./Permatha Signature.otf') format('woff');*/
  src: url('./Permatha Signature.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'kr';
  /*src: url('./Permatha Signature.otf') format('woff');*/
  src: url('./Adultkid.otf');
  font-weight: normal;
  font-style: normal;
}

