body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*
  className = App 인 항목에 css를 적용한다는 의미
*/
.App{
  padding: 20px;
}

.expanding-door-container {
  position: relative;
  width: 500px;
  height: 400px;
  perspective: 1000px;
  margin: 50px auto;
  overflow: hidden;
}

.door {
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: #b12f2f;
  border: 2px solid #222;
  transition: transform 2s ease-in-out, opacity 2s ease-in-out;
  transform-origin: center;
}

.left-door {
  left: 0;
  transform-origin: left;
}

.right-door {
  right: 0;
  transform-origin: right;
}

.open.left-door {
  transform: rotateY(90deg) translateX(-50%) scale(1.5);
  opacity: 0;
}

.open.right-door {
  transform: rotateY(-90deg) translateX(50%) scale(1.5);
  opacity: 0;
}

.cherry_blossom {
  overflow: hidden;
  position: relative;
  width: 600px;
  height: 600px;
  /*background: url('sakura.png') center center no-repeat;*/
  background-size: cover;
  perspective: 1000px;
}

.cherry_blossom .petal {
  position: absolute;
  background: linear-gradient(-45deg, #ffb6c1 0%, #ffc5d0 40%, #ffdfe6 80%);
  border-radius: 10% 50% 40% 50%;
  z-index: 1;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
  pointer-events: none;
  transform-style: preserve-3d;
  transition: transform 1000ms linear;
}

@keyframes fall {
  0% {
    top: 0;
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  100% {
    top: 100%;
    opacity: 0.2;
  }
}

